body{
  font-family: 'Roboto', sans-serif;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0 7px;
  max-width: 1000px;
  margin: 0 auto;
}

.collerction{
  padding-top: 30px;
  display: flex;
}
.collerction__collerction{
  min-width: 290px;
}

.collerction__curent-collor {
  border-radius: 15px;
  width: 190px;
  height: 190px;
  background-color: red;
  margin: 0;
  margin-left: auto;
  position: relative;
}
.collerction__curent-wrapper{
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  background-color: #fff;
}
.collerction__curent-collor-add{
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background-color: #fff;
  padding: 4px;
}
.collerction__curent-collor-add img{
  width: 25px;
  height: 25px;
}
.collerction__curent-hex{
  padding: 9px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* !Color picler */

.collerction__picer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 13px;
}
.collerction__picer .colorPicker{
  margin: 0;
  margin-right: auto;
}
.collerction__picer .colorPicker{
  background-color: transparent;
  border: none;
}
.collerction__picer .colorPicker .oned .pointer .shape{
  border-radius: 0;
}
.colorPicker .twod,
.colorPicker .twod .bg {
  width: 190px;
  height: 190px;
}
.colorPicker .oned,
.colorPicker .oned .bg {
  height: 190px;
  border: none;
}

.collerction__picer .colorPicker .oned .pointer .shape{
  margin-left: -2px;
}

/* Color picler! */

.collerction-wrapper{
  height: 33px;
  position: relative;
}
.collerction__row{
  display: flex;
  align-items: center;
  gap: 15px;
}
.collerction__title{
  font-size: 45px;
  margin-bottom: 10px;
}
.collerction__all{
  cursor: pointer;
  width: 33px;
  height: 33px;
}
.collerction__list{
  overflow: hidden;
  max-width: 290px;
  height: 83px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.collerction__item{
  padding: 0;
  border: none;
  background-color: transparent;
}
.collerction__color{
  border-radius: 10px;
  width: 65px;
  height: 65px;
  background-color: #ebebeb;
}
.collerction__hex{
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}

.colors{
  padding-bottom: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.colors__row{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.colors__title{
  margin-right: 15px;
  font-size: 47px;
}
.colors__img-wrapper{
  height: 45px;
  position: relative;
}

.colors__img{
  cursor: pointer;
  height: 45px;
}
.colors__list{
  flex-grow: 1;
  column-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.colors__item{
  max-height: 400px;
  position: relative;
  border-radius: 10px;
  background-color: #ebebeb;
}
.colors__item:hover .colors__item-add{
  opacity: 1;
  transform: translateY(0px);
}
.colors__item-add img{
  padding: 4px;
  width: 24px;
  height: 24px;
}
.colors__item-add{
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;

  transition: all ease-in-out 0.3s;
  transform: translateY(5px);
  opacity: 0;
}
.colors__item-edit{
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  right: 52px;
  top: 10px;
  background-color: #fff;

  transition: all ease-in-out 0.3s;
  transform: translateY(5px);
  opacity: 0;
}
.colors__item-edit img{
  padding: 4px;
  width: 24px;
  height: 24px;
}
.colors__item:hover .colors__item-edit {
  opacity: 1;
  transform: translateY(0px);
}
.colors__hex{
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
.colors__wrapper{
  border-radius: 5px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
}

.hint{
  pointer-events: none;
  top: -25px;
  z-index: 600;
  box-shadow: 1px 2px 5px -2px #000000; 
  text-transform: none;
  right: 50%;
  transform: translateX(50%);
  width: max-content;
  border-radius: 4px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  position: absolute;

  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.hint-wrapper:hover .hint{
  opacity: 1;
  top: -30px;
}


.colors__cursor{
  align-items: center;
  display: none;
  z-index: 200;
  border-radius: 4px;
  position: fixed;
  padding: 4px;
  background-color: #fff;
  box-shadow: 1px 2px 5px -2px #000000;
  left: 0;
  top: 0;
  white-space: nowrap;
}
.colors__cursor-current{
  margin-left: 7px;
  height: 14px;
  width: 14px;
}


/* !Popup */
.popup__mask{
    z-index: -100;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: background-color ease-in-out 0.2s;
  display: flex;
  flex-direction: column;
}
.popup__mask.active{
  background: rgba(0, 0, 0, 0.6);
}
.popup__list{

  padding: 60px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: auto;
  background: rgb(255, 255, 255);
  width: 750px;
  height: 450px;
  transform: translateY(10px);
  transition: all ease-in-out 0.2s;
  opacity: 0;
}
.popup__list.active{
  opacity: 1;
  transform: translateY(0px);
}
.popup__close-wrapper{
  position: fixed;
  top: 10px;
  right: 10px;
}
.popup__close{
  cursor: pointer;
  padding: 5px;
  width: 45px;
  height: 45px;
}
.popup__items{
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.popup__item{
  position: relative;
  text-align: center;
}
.popup__color{
  border-radius: 13px;
  width: 138px;
  height: 138px;
}

.popup__item:hover .popup__color-edit{
  opacity: 1;
  transform: translateY(0);
}
.popup__item:hover .popup__color-remove{
  opacity: 1;
  transform: translateY(0);
}

.popup__color-edit{
  cursor: pointer;
  padding: 2px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;

  transition: all ease-in-out 0.3s;
  transform: translateY(2px);
  opacity: 0;
}
.popup__color-remove{
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 50px;
  width: 24px;
  height: 24px;

  transition: all ease-in-out 0.3s;
  transform: translateY(2px);
  opacity: 0;
}
.popup__color-remove img{
  width: 24px;
  height: 24px;
}
.popup__hex-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup__hex{
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px;
  background-color: #fff;
}


.no-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Popup! */